
@font-face {
    font-family: 'muscular_strengthregular';
    src: url('muscular_strength_bold-webfont.woff2') format('woff2'),
         url('muscular_strength_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'Fugaz One', cursive;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
header{
    background-color: #004C29;
}
.contenedor{
    max-width: 1200px;
    margin: auto;
}
.menu{
    display: flex;
    background-color: #004C29;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
}
.logo{
   display: flex;
   align-items: center;
}
.logo img{
    height: 50px;
    margin-right: 12px;
}
nav a{
    font-family: 'Antonio', sans-serif;
    padding-right: 15px;
    padding-left: 15px;
}
nav a:hover{
    display: inline-block;
    transform: scale(1.25);
}
@media (max-width: 680px){
    .menu{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}